Repository LiskHQ/lips, pull requests merged in 2019-10, with the labels that each got.

#24 Add LIP for address system using base32 encoding of long hash of pubKey plus checksum
  README.md
  proposals/lip-0018.md
Labels: :white_check_mark: ready, new lip

#25 Add LIP for using SHA256 hash of transaction for transactionID
  README.md
  proposals/lip-0018.md
  proposals/lip-0019.md
Labels: :white_check_mark: ready, new lip

#26 Add LIP for using full sha256 hash of block as blockid
  README.md
  proposals/lip-0010.md
  proposals/lip-0019.md
  proposals/lip-0020.md
Labels: :white_check_mark: ready, lip modification, new lip

#27 Add LIP for changing to one vote per account
  README.md
  proposals/lip-0021.md
Labels: :white_check_mark: ready, new lip

#28 Fix the spec for the current implementation
  proposals/lip-0009.md
Labels: :white_check_mark: ready, lip modification

#30 Add LIP and support files to include standby delegates and reorder the delegate list
  README.md
  proposals/lip-0022.md
  proposals/lip-0022/randao_diagram.png
  proposals/lip-0022/standby_entry_barrier.png
Labels: :white_check_mark: ready, new lip

#31 Add LIP for changing vote mechanism
  README.md
  proposals/lip-0023.md
Labels: :white_check_mark: ready, new lip

#33 Update RPC endpoint names
  proposals/lip-0004.md
Labels: :white_check_mark: ready, lip modification
