Repository LiskHQ/lips, pull requests merged in 2022-11, with the labels that each got.

#159 Update LIP 0047 PoA module: added type hinting, events
  proposals/lip-0047.md
  proposals/lip-0047/poa_store.png
Labels: lip modification

#177 Change specifications according to consensus-application separation
  proposals/lip-0042.md
  proposals/lip-0044.md
  proposals/lip-0050.md
  proposals/lip-0055.md
  proposals/lip-0055/generation_stages.png
  proposals/lip-0055/stages.png
  proposals/lip-0056.md
  proposals/lip-0058.md
  proposals/lip-0059.md
  proposals/lip-0060.md
  proposals/lip-0060/stages.png
Labels: lip modification

#180 Fix assets verification in LIP 0055 and 0060
  proposals/lip-0055.md
  proposals/lip-0060.md
Labels: lip modification

#181 Fix some minor mistakes in LIPs 0040, 0041, and 0065
  proposals/lip-0037.md
  proposals/lip-0040.md
  proposals/lip-0041.md
  proposals/lip-0065.md
Labels: lip modification

#191 Ban every delegate in snapshot block
  proposals/lip-0063.md
Labels: lip modification

#184 Update LIP 61 due application-engine separation
  proposals/lip-0055.md
  proposals/lip-0058.md
  proposals/lip-0061.md
  proposals/lip-0069.md
Labels: lip modification

#185 Add LIP "Introduce reward sharing mechanism"
  README.md
  proposals/lip-0050.md
  proposals/lip-0057.md
  proposals/lip-0070.md
Labels: new lip, lip modification

#188 Fix timeslot and timestamp issues in LIP 0044 and LIP 0058
  proposals/lip-0044.md
  proposals/lip-0058.md
Labels: lip modification

#189 Add LIP "Introduce dynamic block rewards module"
  README.md
  proposals/lip-0071.md
Labels: new lip
