Repository LiskHQ/lips, pull requests merged in 2023-06, with the labels that each got.

#363 Remove usage of genesis height
  proposals/lip-0058.md
Labels: lip modification

#368 Fix typos in Interoperability LIPs
  proposals/lip-0045.md
  proposals/lip-0053.md
Labels: lip modification

#370 Small edits to LIP 0047 PoA module
  proposals/lip-0047.md
Labels: lip modification

#373 Specify registration order of interoperable modules in LIP 0063
  proposals/lip-0063.md
Labels: lip modification

#377 Update LIP 0057 - change bft capping value
  proposals/lip-0057.md
Labels: lip modification, implementation change

#366 LIP0065: improve event schema
  proposals/lip-0065.md
Labels: lip modification

#382 LIP0045: add isChannelActive method
  proposals/lip-0045.md
Labels: lip modification, implementation change

#387 LIP0054: verify that `params.channel` follows the channel schema
  proposals/lip-0054.md
Labels: lip modification, implementation change

#385 Modify LIP 0052 genesis assets schema and genesis state initialization
  proposals/lip-0052.md
Labels: lip modification, implementation change

#374 Add LIP: "Introduce direct sidechain channels"
  README.md
  proposals/lip-0072.md
Labels: new lip

#371 Add LIP "Add 256-bit Integer Types to Lisk Codec"
  README.md
  proposals/lip-0073.md
Labels: new lip
