Repository LiskHQ/lips, pull requests merged in 2023-08, with the labels that each got.

#438 Update module name from dynamicBlockRewards to dynamicReward
  proposals/lip-0047.md
  proposals/lip-0063.md
  proposals/lip-0071.md
Labels: lip modification

#432 Use the `smtVerifyInclusionProof` API from the SMT rather than `verify`
  proposals/lip-0053.md
  proposals/lip-0054.md
  proposals/lip-0072.md
Labels: implementation change

#437 Add `getMessageFeeTokenIDFromCCM` method to Interoperability module
  proposals/lip-0045.md
  proposals/lip-0048.md
  proposals/lip-0051.md
Labels: lip modification, implementation change

#431 Improve LIP0039 to align it to the implementation
  proposals/lip-0039.md
Labels: lip modification

#443 Add explicit decoding and verification of trs.params in LIP 0074
  proposals/lip-0074.md
Labels: lip modification, implementation change

#442 Remove check in `isNFTSupported()` of NFT module LIP
  proposals/lip-0052.md
Labels: implementation change

#455 Remove getAuthAccount endpoint from LIP
  proposals/lip-0041.md
Labels: lip modification

#453 Let getAuthAccount return default values for non-existing account
  proposals/lip-0041.md
Labels: lip modification

#446 Update `getTotalSupply` function in LIP 0051, add pseudocode to endpoint, clarify store logic
  proposals/lip-0051.md
  proposals/lip-0074.md
Labels: lip modification

#430 Add endpoints to LIP 0052
  proposals/lip-0052.md
Labels: lip modification

#456 Add validation for keys and values in SMT update and remove functions
  proposals/lip-0039.md
Labels: lip modification

#451 Disallow signing with key equal to zero modulo the group order in BLS
  proposals/lip-0038.md
Labels: lip modification, implementation change

#459 Add PENDNG as a return value to verifyNonce
  proposals/lip-0041.md
Labels: lip modification

#458 Update `getTotalSupply` function in LIP-0051
  proposals/lip-0051.md
Labels: lip modification

#440 Remove schema validation from cross-chain/command verification in module LIPs
  proposals/lip-0041.md
  proposals/lip-0043.md
  proposals/lip-0047.md
  proposals/lip-0049.md
  proposals/lip-0050.md
  proposals/lip-0051.md
  proposals/lip-0052.md
  proposals/lip-0053.md
  proposals/lip-0054.md
  proposals/lip-0055.md
  proposals/lip-0057.md
  proposals/lip-0070.md
  proposals/lip-0072.md
Labels: lip modification

#445 Compute index/position in Merkle tree correctly
  proposals/lip-0054.md
Labels: lip modification, implementation change

#465 Update parameter recommendations for argon2id
  proposals/lip-0067.md
Labels: lip modification

#466 LIP 0053 - fix verifyValidatorsUpdate
  proposals/lip-0053.md
Labels: lip modification, implementation change

#462 Update configurable constants for reward module
  proposals/lip-0042.md
  proposals/lip-0071.md
Labels: lip modification

#460 Improve Governance module functionality
  proposals/lip-0074.md
Labels: lip modification, implementation change
