Repository LiskHQ/lips, pull requests merged in 2023-07, with the labels that each got.

#390 remove call to isLive
  proposals/lip-0045.md
Labels: lip modification

#391 Add event names to table in LIP 0070
  proposals/lip-0070.md
Labels: lip modification

#396 Fix parameters of internal event function
  proposals/lip-0052.md
Labels: lip modification

#404 Fix genesis state finalization in LIP 0047
  proposals/lip-0047.md
Labels: lip modification, implementation change

#402 Fix round number computation for Core v3 in LIP 0063
  proposals/lip-0063.md
Labels: lip modification

#392 Rewrite LIP 0048 Rationale section
  proposals/lip-0048.md
Labels: lip modification

#399 Verify sparse Merkle tree inclusion proofs in command exectutions
  proposals/lip-0045.md
  proposals/lip-0053.md
  proposals/lip-0054.md
Labels: lip modification, implementation change

#413 Fix min certificate height value
  proposals/lip-0061.md
  proposals/lip-0063.md
Labels: lip modification, implementation change

#405 Fix bounce issue
  proposals/lip-0045.md
  proposals/lip-0049.md
  proposals/lip-0049/apply.png
  proposals/lip-0049/forward.png
  proposals/lip-0051.md
  proposals/lip-0053.md
  proposals/lip-0054.md
Labels: lip modification, implementation change

#417 Update values of configurable constants defining time intervals
  proposals/lip-0045.md
  proposals/lip-0053.md
  proposals/lip-0054.md
  proposals/lip-0057.md
  proposals/lip-0059.md
  proposals/lip-0061.md
  proposals/lip-0063.md
  proposals/lip-0070.md
Labels: lip modification, implementation change

#410 Fix substores prefix values
  proposals/lip-0044.md
  proposals/lip-0047.md
  proposals/lip-0051.md
  proposals/lip-0052.md
  proposals/lip-0057.md
  proposals/lip-0058.md
  proposals/lip-0071.md
Labels: lip modification, implementation change

#412 Correct `getNextAvailableIndex` method of LIP 0052
  proposals/lip-0052.md
Labels: lip modification, implementation change

#407 Add LIP "Introduce Governance module"
  README.md
  proposals/lip-0074.md
Labels: new lip

#426 Update `beforeCrossChainMessageForwarding` in LIP 0051 to check `messageFeeTokenID`
  proposals/lip-0051.md
Labels: lip modification, implementation change

#423 Improve LIP 0051 - endpoints, values for constants, clarify token support
  proposals/lip-0051.md
Labels: lip modification

#400 Update ID field inconsistency and encryption mode
  proposals/lip-0067.md
Labels: lip modification, implementation change
